.slider {
  appearance: none;
  width: 100%;
  height: 25px;
  background: #333;
  outline: none;

  &__reverse {
    direction: rtl;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4caf50;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4caf50;
    cursor: pointer;
  }
}
